<template>
<div>
    <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in headerlabel" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr>
                <td v-for="(item,key) in headerlabel" :key = "key">
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
 
</template>
<script>
export default {
    data(){
        return{
            headerlabel:[
                {col:"Title"},
                {col:"ISBN"},
                {col:"Author"},
                {col:"Publisher"},
                {col:"Year"},
                {col:"Category"},
                {col:"deleted_at"},
                {col:"Action"},
            ]
            // books:[
                
            // ]
        }
    }
}
</script>
