<template>
<div>
    
    <div class="app add-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" @click="onClickOpenModal()">
        Add new Book
    </button> 
    </div>  
    {{ modal }}    
    <div class="app search-form">
        <form action="" method="get" role="search">
        <input type="text" name="search" value="">
        <a href="" >
                <span aria-hidden="true">&times;</span>
        </a>
            <button type="submit" class="btn btn-primary">Search</button>                        
        </form>    
    </div>  
        <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in headerlabel" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr v-for="(s,key) in students" :key = "key">
                <td>{{s.firstname}}</td>
                <td>{{s.middlename}}</td>
                <td>{{s.lastname}}</td>
                <td>{{s.student_id}}</td>
                <td>{{s.course.name}}</td>
                <td>{{s.year_level}}</td>
                <td>{{s.contact_number}}</td>                
                <td>{{s.created_at}}</td>
                <td>{{s.updated_at}}</td>
                <td>
                    <button class="btn btn-info"  @click="onClickEdit(s.id)">Edit</button>
                    <button class="btn btn-danger" @click="onDelete(s.id)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
   
     <div class="modal fade show" tabindex="-1" role="dialog" v-if="modal===true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" @click="modal=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <formbuilder :propsform="form" :optionselect="option" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="modal=false">Close</button>
                <button type="button" class="btn btn-primary" @click="onClickSave()">Save changes</button>
            </div>
            </div>
        </div>
    </div>

</div>
 
</template>

<style>
    .show {
        display:block;
    }
</style>


<script>
const axios = require("axios")
import {Formbuilder} from '../../../../components/includes/index'
export default {
    components:{
        Formbuilder,
    },
    data(){
        return{            
            modal: false,
            form: [
                { label: 'Firstname', inputType: 'text', value: '', column: 'firstname'},
                { label: 'Middlename', inputType: 'text', value: '', column: 'middlename'},
                { label: 'Lastname', inputType: 'text', value: '', column: 'lastname' },
                { label: 'Student ID', inputType: 'text', value: '', column: 'student_id'},
                { label: 'Course', inputType: 'select', value: '', column: 'course_id'},
                { label: 'Year level', inputType: 'number', value: '', column: 'year_level'},               
                { label: 'Contact Number', inputType: 'text', value: '', column: 'contact_number'},
                
            ],
            headerlabel:[
                {col:"Firstname"},
                {col:"Middlename"},
                {col:"Lastname"},
                {col:"Student ID"},
                {col:"Course"},
                {col:"Year level"},
                {col:"Contact Number"},
                {col:"Created_at"},
                {col:"updated_at"},
                {col:"Action"},
            ],
            id:"",
            option:[],
            students:[],
            data:[{
                _token:'[name="csrf-token"]'
            }],
            pageNumber:0,
        }
    },
    created(){
        this.getAllCourse();
        this.getAllStudents();
    },
    mounted(){
        this.getAllStudents();
    },
    
    methods: {
        getAllCourse(){
            axios.get('/api/alldata/Course/').then(result=>{
                this.option = result.data;
            });
        },
        getAllStudents(){
            axios.get('/api/alldata/Student/?joinTable=course').then(result=>{
                this.students = result.data;
            });
        },
        onClickOpenModal(){
            this.modal = true;
            this.id="";
            this.form.map((item,key)=>{
                item.value = "";                   
            }); 
        },      
        onClickEdit(id){
            this.id = id;
            this.modal = true;
           axios.get('/api/alldata/Student/id/'+id).then(result=>{
             this.form.value = result.data;
                this.form.map((item,key)=>{
                    item.value = result.data[item.column];                   
                }); 
            });   
        },
        onClickSave(){
            this.modal=false;
            this.getAllStudents();
            let form = this.form;
            let data = {};
            data['id']=this.id;
            form.map((item,key)=>{
                data[item.column]=item.value
            });
            
            axios.post('/api/store/Student/',data).then(result=>{
                this.getAllStudents();
            });   
        },
        onDelete(id){
            var data = {
                id: id,
                _token:[name="csrf-token"]
            }
            console.log(data);
            axios.post('/api/delete/Student/',data).then(result=>{
             this.getAllStudents();
            });   
        }

    },
}
</script>
