<template>
    
    <form enctype="multipart/form-data">
        <div v-for="(f,key) in props" :key="key">
            <label class="form-label" v-bind:for="f.label">{{f.label}}</label>
            <input class="form form-control" v-bind:type="f.inputType" v-if="f.inputType !== 'select' && f.inputType !== 'file'" v-model="f.value"/>

            <!-- <input class="form form-control" type="file" v-if="f.inputType === 'file'" ref="file" name="image_path"/> -->


            <select class="form form-control" v-if="f.inputType === 'select'" v-model="f.value">
                <option v-for="(op,key) in option" :key="key" v-bind:value="op.id">{{op.name}}</option>
              
            </select>
            <textarea class="form form-control" v-if="f.inputType === 'textarea'" v-model="f.value">

            </textarea>
            
        </div>
    </form>
</template>
<script>
export default {
    created(){
        console.log(this.propsform)
    },
    props:[
        "propsform",
        "optionselect"
    ],
    data(){
        return{
           props:this.propsform, 
           option:this.optionselect
        }
    }      
}
</script>

