<template>
    <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in header" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr v-for="(i,key) in itemdata" :key = "key">
                <td>{{i.title}}</td>
                <td>{{i.author}}</td>
                <td>{{i.isbn}}</td>
                <td>{{i.year}}</td>
                <td>{{i.publisher}}</td>
                <td>{{i.category.name}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.updated_at}}</td>
                <td>
                    <button class="btn btn-info"  @click="onClickEdit(b.id)">Edit</button>
                    <button class="btn btn-danger" @click="onDelete(b.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
export default {
    created(){
    },
    props:[
        "itemdata",
        "headers"
    ],
    data(){
        return{
           items:this.itemdata, 
           header:this.headers
        }
    }      
}
</script>


 