.add-button{
    display:flex;
    float:right;
}
img{
    width:100%;
    height:100%;
}
.table .item_image{
    width:120px;
    height: 120px;
    max-height:150px;
}
.modal .item_image{
    width:400px;
    height:400px;
}
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.card{
    box-shadow: 5px 10px 18px #888888;
}
.card .card-title{
    width:100%;
    height:150px;
    max-height:150px;
    display:inline-block;
    padding-top:10px;
    text-align: center;
}
.card-title h5{
    overflow: hidden;
    text-align:center;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.card{
    height:500px;
    width:16rem;
}
.card .item_image{
    width:16rem;
    max-height:200px;
}
.card .item_image img{
    max-height:200px;
}
.modal-view{
    width:100%
}
.details-contents{
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.details-contents ul li{
    padding-inline-start: 0px;
}
.details-contents ul li{
    width:100%;
    border:none;
}
.details-image{
    width:100%;
    height:400px;
}
.details-image img{
    text-align:center;
}