<template>
<div>
    
    <div class="app add-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" @click="onClickOpenModal()">
        Add new Book
    </button> 
    </div>  
    {{ modal }}    
    <div class="app search-form">
        <form action="" method="get" role="search">
        <input type="text" name="search" value="">
        <a href="" >
                <span aria-hidden="true">&times;</span>
        </a>
            <button type="submit" class="btn btn-primary">Search</button>                        
        </form>    
    </div>  
        <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in headerlabel" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr v-for="(s,key) in schools" :key = "key">
                <td>
                    <div class="table item_image">
                        <img className="card-img-top img-fluid" v-bind:src="'/storage/images/school/'+s.image_path" alt=""> 
                    </div>
                </td>
                <td>{{s.name}}</td>
                <td>{{s.address}}</td>
                <td>{{s.created_at}}</td>
                <td>{{s.updated_at}}</td>
                <td>
                    <button class="btn btn-block btn-primary"  @click="onClickImage(s.id)">Add Image</button>
                    <button class="btn btn-block btn-primary"  @click="onClickEdit(s.id)">Edit</button>
                    <button class="btn btn-block btn-danger" @click="onDelete(s.id)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
   
     <div class="modal fade show" tabindex="-1" role="dialog" v-if="modal===true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" @click="modal=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <formbuilder :propsform="form" :optionselect="option" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="modal=false">Close</button>
                <button type="button" class="btn btn-primary" @click="onClickSave()">Save changes</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" tabindex="-1" role="dialog" v-if="modalImg===true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Image</h5>
                <button type="button" class="close" data-dismiss="modal" @click="modalImg=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <input class="form form-control" type="file" ref="file" name="image_path"  v-on:change="onImageChange"/> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="modalImg=false">Close</button>
                <button type="button" class="btn btn-primary" @click="onClickUpload()">Upload</button>
            </div>
            </div>
        </div>
    </div>

</div>
 
</template>

<style>
    .show {
        display:block;
    }
</style>


<script>
const axios = require("axios")
import {Formbuilder} from '../../../../components/includes/index'
export default {
    components:{
        Formbuilder,
    },
    data(){
        return{            
            modal: false,
            modalImg: false,
            form: [
                { label: 'School Name', inputType: 'text', value: '', column: 'name'},
                { label: 'Address', inputType: 'text', value: '', column: 'address'},                
                { label: 'Image Path', inputType: 'file', value: '', column: 'image_path'},
            ],
            headerlabel:[
                {col:"Image"},
                {col:"School Name"},
                {col:"Addres"},                
                {col:"Created_at"},
                {col:"updated_at"},
                {col:"Action"},
            ],
            headers: {
                'Content-Type': 'multipart/form-data'
            },
            image:'',
            id:"",
            option:[],
            schools:[],
            data:[{
                _token:'[name="csrf-token"]'
            }],
            pageNumber:0,
        }
    },
    created(){
        this.getAllSchools();
    },
    mounted(){
        this.getAllSchools();
    },
    
    methods: {
        onImageChange(e){
            this.image = e.target.files[0];
        },
        getAllSchools(){
            axios.get('/api/alldata/School').then(result=>{
                this.schools = result.data;
            });
        },
        onClickOpenModal(){
            this.modal = true;
            this.id="";
            this.form.map((item,key)=>{
                item.value = "";                   
            }); 
        },      
        onClickEdit(id){
            this.id = id;
            this.modal = true;
           axios.get('/api/alldata/School/id/'+id).then(result=>{
             this.form.value = result.data;
                this.form.map((item,key)=>{
                    item.value = result.data[item.column];                   
                }); 
            });   
        },
        onClickImage(id){
            this.id = id;
            this.modalImg = true;
        },
        onClickSave(){
            this.modal=false;
            let form = this.form;
            let data = {};
            data['id']=this.id;
            form.map((item,key)=>{
                data[item.column]=item.value
            });
            console.log(data);
            axios.post('/api/store/School/',data).then(result=>{
                this.getAllSchools();
            });   
        },
        onClickUpload(){
            this.modalImg=false;
            const headers = { 'content-type': 'multipart/form-data' }
            let data = {};
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }
            let formData = new FormData();
            formData.append('image', this.image);
            formData.append('id', this.id);         
            axios.post('/api/upload/School/',formData).then(result=>{
                console.log(result.data);
                this.getAllSchools();
            });   
        },
        onDelete(id){
            var data = {
                id: id,
                _token:[name="csrf-token"]
            }
            console.log(data);
            axios.post('/api/delete/School/',data).then(result=>{
             this.getAllSchools();
            });   
        }

    },
}
</script>
