<template>
    <div>
        <Navigation></Navigation>
        <!-- <Main></Main> -->
        <router-view></router-view>         
    </div>    
    
</template>
<script>

import Navigation from './modules/layouts/Nav';
import Main from './modules/Main';
export default {
    name:"app",
    components:{
        Navigation,
    }
}
</script>

