<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <router-link class="navbar-brand" :to="{name:'HomeComponent'}" href="">Library System</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" v-for="(row,key) in links" :key = "key">
                        <!-- <a class="nav-link" v-bind:href="row.url">{{row.label}}</a> -->
                        <router-link  class="nav-link" :to="{ path:row.url }">{{row.label}}</router-link> 
                    </li>
                </ul>
            </div>
        </div>            
    </nav>
</template>
<script>
export default {
    data(){
        return{
            links:[
                {label:"home",url:"/"},
                {label:"List of books",url:"/main"},
                {label:"Archives",url:"/archives"},
                {label:"Courses",url:"/courses"},
                {label:"Students",url:"/students"},
                {label:"Schools",url:"/schools"},
            ]
        }
    }
}
</script>

