<template>
<div>
    
    <div class="app add-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" @click="onClickOpenModal()">
        Add new Course
    </button> 
    </div>  
    {{ modal }}    
    <div class="app search-form">
        <form action="" method="get" role="search">
        <input type="text" name="search" value="">
        <a href="" >
                <span aria-hidden="true">&times;</span>
        </a>
            <button type="submit" class="btn btn-primary">Search</button>                        
        </form>    
    </div>  
        <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in headerlabel" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr v-for="(c,key) in course" :key = "key">
                <td>{{c.name}}</td>                
                <td>{{c.created_at}}</td>
                <td>{{c.updated_at}}</td>
                <td>
                    <button class="btn btn-info"  @click="onClickEdit(c.id)">Edit</button>
                    <button class="btn btn-danger" @click="onDelete(c.id)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>

   
     <div class="modal fade show" tabindex="-1" role="dialog" v-if="modal===true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" @click="modal=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <formbuilder :propsform="form" :optionselect="option" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="modal=false">Close</button>
                <button type="button" class="btn btn-primary" @click="onClickSave()">Save changes</button>
            </div>
            </div>
        </div>
    </div>

</div>
 
</template>

<style>
    .show {
        display:block;
    }
</style>


<script>
const axios = require("axios")
import {Formbuilder, Tablebuilder} from '../../../../components/includes/index'
export default {
    components:{
        Formbuilder,
        Tablebuilder
    },
    data(){
        return{            
            modal: false,
            form: [
                { label: 'Course Name', inputType: 'text', value: '', column: 'name'},
                
            ],
            headerlabel:[
                {col:"Course Name"},
                {col:"Created_at"},
                {col:"updated_at"},
                {col:"Action"},
            ],
            id:"",
            option:[],
            course:[],
            data:[{
                _token:'[name="csrf-token"]'
            }],
            pageNumber:0,
        }
    },
    created(){
        this.getAllCourse();
    },
    mounted(){
        this.getAllCourse();
    },   
    methods: {
        nextPage(){
            this.pageNumber++;
            console.log(this.pageNumber);
        },
        prevPage(){
            this.pageNumber--;
            console.log(this.pageNumber);
        },
        getAllCourse(){
            axios.get('/api/alldata/Course').then(result=>{
                this.course = result.data;
            });
        },
        onClickOpenModal(){
            this.modal = true;
            this.id="";
            this.form.map((item,key)=>{
                item.value = "";                   
            }); 
        },      
        onClickEdit(id){
            this.id = id;
            this.modal = true;
           axios.get('/api/alldata/Course/id/'+id).then(result=>{
             this.form.value = result.data;
                this.form.map((item,key)=>{
                    item.value = result.data[item.column];                   
                }); 
            });   
        },
        onClickSave(){
            this.modal=false;
            this.getAllCourse();
            let form = this.form;
            let data = {};
            data['id']=this.id;
            form.map((item,key)=>{
                data[item.column]=item.value
            });
            
            axios.post('/api/store/Course/',data).then(result=>{
                this.getAllCourse();
            });   
        },
        onDelete(id){
            var data = {
                id: id,
                _token:[name="csrf-token"]
            }
            console.log(data);
            axios.post('/api/delete/Course/',data).then(result=>{
             this.getAllCourse();
            });   
        }

    },
}
</script>
