<template>
     <div class="card">
        <div class="item_image">
        <img class="card-img-top img-fluid" src="" alt="Book Image">
        </div>                
        <div class="card-block">
            <div class="card-title">
                <h4>Book Title:</h4>
                <h5></h5>
            </div>
            
            <ul class="list-group list-group-flush">                        
                <li class="list-group-item"><b>Category:</b></li>
                <li class="list-group-item"> <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewModal">View Details</button>
                </li>
            </ul>
        </div>
    </div>     
</template>
<script>
export default {
    
}
</script>
