<template>
<div>
    
    <div class="app add-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" @click="onClickOpenModal()">
        Add new Book
    </button> 
    </div>  
    {{ modal }}    
    <div class="app search-form">
        <form action="" method="get" role="search">
        <input type="text" name="search" value="">
        <a href="" >
                <span aria-hidden="true">&times;</span>
        </a>
            <button type="submit" class="btn btn-primary">Search</button>                        
        </form>    
    </div>  
        <table class="table table-condensed table-bordered">
        <thead>
            <th v-for="(item,key) in headerlabel" :key = "key">
                {{item.col}}
            </th>
        </thead>
        <tbody>
            <tr v-for="(b,key) in books" :key = "key">
                <td>{{b.title}}</td>
                <td>{{b.author}}</td>
                <td>{{b.isbn}}</td>
                <td>{{b.year}}</td>
                <td>{{b.publisher}}</td>
                <td>{{b.category.name}}</td>
                <td>{{b.created_at}}</td>
                <td>{{b.updated_at}}</td>
                <td>
                    <button class="btn btn-info"  @click="onClickEdit(b.id)">Edit</button>
                    <button class="btn btn-danger" @click="onDelete(b.id)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <!-- <Tablebuilder :itemdata="books" :headers="headerlabel"/> -->
    <div>
        <!-- <ul>
            <li v-for="p in paginatedData">
            {{p.first}} 
            {{p.last}}  
            {{p.suffix}}
            </li>
        </ul> -->
        <button @click="prevPage">
            Previous
        </button>
        <button @click="nextPage">
            Next
        </button>
    </div>
   
     <div class="modal fade show" tabindex="-1" role="dialog" v-if="modal===true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" @click="modal=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <formbuilder :propsform="form" :optionselect="option" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="modal=false">Close</button>
                <button type="button" class="btn btn-primary" @click="onClickSave()">Save changes</button>
            </div>
            </div>
        </div>
    </div>

</div>
 
</template>

<style>
    .show {
        display:block;
    }
</style>


<script>
const axios = require("axios")
import {Formbuilder, Tablebuilder} from '../../../../components/includes/index'
export default {
    components:{
        Formbuilder,
        Tablebuilder
    },
    data(){
        return{            
            modal: false,
            form: [
                { label: 'Title', inputType: 'text', value: '', column: 'title', validator: "required|regex:/([a-zA-Z0-9]+\s?\b){3,}/"},
                { label: 'ISBN', inputType: 'text', value: '', column: 'isbn', validator: "required|regex:/^(97[89])?(([\d][-\s]?){9}[\d])$/" },
                { label: 'Author', inputType: 'text', value: '', column: 'author', validator: "required|regex:/([A-Z.][a-zA-Z.]+\s?\b){2,}/" },
                { label: 'Publisher', inputType: 'text', value: '', column: 'publisher', validator: "required|regex:/([A-Z][a-zA-Z]+\s?\b){2,}/" },
                { label: 'Year', inputType: 'number', value: '', column: 'year', validator: "required" },               
                { label: 'Category', inputType: 'select', value: '', column: 'category_id', validator: "required" },
            ],
            headerlabel:[
                {col:"Title"},
                {col:"ISBN"},
                {col:"Author"},
                {col:"Publisher"},
                {col:"Year"},
                {col:"Category"},
                {col:"Created_at"},
                {col:"updated_at"},
                {col:"Action"},
            ],
            id:"",
            option:[],
            books:[],
            data:[{
                _token:'[name="csrf-token"]'
            }],
            pageNumber:0,
        }
    },
    // props:{
    //     listData:{
    //         type:Array,
    //         required:true,
    //     },
    //     size:{
    //         type:Number,
    //         required:false,
    //         default:3,
    //     }
    // },
    created(){
        this.getAllCategories();
        this.getAllBooks();
    },
    mounted(){
        this.getAllBooks();
    },
    // pageCount(){
    //     let length = list.books.length;
    //     let size = this.size;
    //     return Math.ceil(length/size);
    // },
    // paginatedData(){
    //     const start = this.pageNumber * this.size,
    //             end = start +  this.size;
    //         return this.books.slice(start,end);
    // },
    methods: {
        nextPage(){
            this.pageNumber++;
            console.log(this.pageNumber);
        },
        prevPage(){
            this.pageNumber--;
            console.log(this.pageNumber);
        },
        getAllCategories(){
            axios.get('/api/alldata/Category/').then(result=>{
                this.option = result.data;
            });
        },
        getAllBooks(){
            axios.get('/api/alldata/Book/?joinTable=category').then(result=>{
                this.books = result.data;
            });
        },
        onClickOpenModal(){
            this.modal = true;
            this.id="";
            this.form.map((item,key)=>{
                item.value = "";                   
            }); 
        },      
        onClickEdit(id){
            this.id = id;
            this.modal = true;
           axios.get('/api/alldata/Book/id/'+id).then(result=>{
             this.form.value = result.data;
                this.form.map((item,key)=>{
                    item.value = result.data[item.column];                   
                }); 
            });   
        },
        onClickSave(){
            this.modal=false;
            this.getAllBooks();
            let form = this.form;
            let data = {};
            data['id']=this.id;
            form.map((item,key)=>{
                data[item.column]=item.value
            });
            
            axios.post('/api/store/Book/',data).then(result=>{
                this.getAllBooks();
            });   
        },
        onDelete(id){
            var data = {
                id: id,
                _token:[name="csrf-token"]
            }
            console.log(data);
            axios.post('/api/delete/Book/',data).then(result=>{
             this.getAllBooks();
            });   
        }

    },
}
</script>
