<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-12">
                <Header/>
               <Card/>
            </div>            
        </div>        
    </div>
</template>
<script>
import {Card, Header} from './views/homeview'

export default {
   components:{
       Card,
       Header
   }
}
</script>

