<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-12">
                <Header/>
                <Table/>
            </div>            
        </div>        
    </div>
</template>
<script>
import {Table, Header} from './views/maintable'

export default {
   components:{
       Table,
       Header
   }
}
</script>

